@media (min-width: 1024px) {
    main {
        display: block;
    }

    #ads a img {
        justify-self: center;
        width: 90%;
    }

    #ads{
        margin: 40px 100px 40px 100px;
    }

    #query_by_brand {
        margin-left: 30px;
    }

    h1 {
        margin-left: 40px;
    }

    #bag_category {
        margin-left: 20px;
    }

    #case_category {
        margin-left: 20px;
    }

    a.footer, a.footer:hover, a.footer:active, a.footer:focus {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
    }

    #footer_div {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #query_by_brand a img {
        width: 180px;
    }

    #recommend {
        padding-top: 30px;
    }

    #recommend_by_category {
        padding: 0 20px 50px;
        margin-left: 30px;
    }

    #recommend_by_category a img {
        width: 240px;
        margin-top: 20px;
    }

    #query_by_category {
        margin-left: 20px;
    }

    .bag_item a img {
        width: 200px;
    }

    .bag_item a img {
        width: 240px;
    }

    .bag_item p {
        height: 80px;
        width: 100%;
    }

    footer p, footer b {
        margin-left: 42px;
    }

    main {
        overflow-x: hidden;
    }
}